{% extends 'sample/base.html' %}

{% block script %}
{% endblock %}


{% block body %}

<div style="padding:20px">
    <div style="padding:10px">learning sample</div>

    <div style="padding:20px">
	<button><a href="/process">プロセスを確認する</a></button>
    </div>

    <div style="padding:20px">
	<form action = "/start_kafka" method = "get">
	    <button>kafka-consumerを開始する</button>
	</form>
    </div>
    <div style="padding:20px">
	<form action = "/stop_kafka" method = "get">
	    <button>kafka-consumerを停止する</button>
	</form>
    </div>


    <div style="padding:20px">
	<form action = "/start" method = "get">
	    <button>学習を開始する</button>
	</form>
    </div>

    <div style="padding:20px">
	<form action = "/stop" method = "get">
	    <button>学習を停止する</button>
	</form>
    </div>

    <div style="padding:20px">
	<button><a href="/glaph">グラフを表示する</a></button>
    </div>

    <div style="padding:20px">
      <p>未実装</p>
      <!-- <button><a href="/result">文章を生成する</a></button> -->
      <button>文章を生成する</button>
    </div>
</div>


{% endblock %}


